html, body{
    height: 100%;
    margin: 0;
}
body{
    /* background:#232741; */
    background: #062743;
    /* background: #283149; */
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

a:hover{
    text-decoration: none;
}

.particles-background, .particles2-background{
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    /* background: radial-gradient(circle at bottom, #3fd1eb 0% ,#080c47 40%); */
    /* background: url(./../images/testbackground.png) no-repeat center center fixed;
    background-size: cover; */
}

.particles2-background{
    height: 100%;
}

.div-wrapper{
    position: relative;
}

.full-height {
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    /* font-size: 39pt;
    line-height: 36pt; */
    font-size: 5vw;
    color: white;
    z-index: 90;
    pointer-events: none;
}
section {
    padding: 0 10px;
    color: #fff;
    height: calc(100vh + 53px);
    line-height: 18pt;
    position: relative;
    display: block;
}
.particles2{
    padding: 0 10px;

    position: relative;
    display: block;
}
div{
    display: block;
}

.canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* FONTS */
.montserrat{
    font-family: "Montserrat", sans-serif;
}

.encode-sans{
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.quicksand{
    font-family: "Quicksand", sans-serif;
}
.raleway{
    font-family: 'Raleway', sans-serif;

}
/* TEXT COLORS */
.white-text{
    color: white;
}

.teal-text{
    color: #17BEBB;
}

.blue-text{
    color: #062743;
}

.pink-text{
    color: #FD3E81;
}
/* NAV STYLE */

.nav-colors{
    color: white;
}
.nav-colors:hover{
    color: #FD3E81;
}
.nav-background{
    background:#062743;
    border-bottom: 3px solid #17BEBB;
    z-index: 9;

}

.logo{
    max-width: 2em;
}
/* BACKGROUND COLORS */
.white-background{
    background: white;
}
/*Welcome screen*/
.seemorebtn{
    /* border: 2px solid rgb(63, 163, 140); */
    border: 2px solid #17BEBB;
    padding: .5em 1.5em;
    /* color: rgb(26, 105, 87); */
    color: #17BEBB;
    
}

.btn-text{
    font-weight: bold;
}


.welcome-text{
    padding: 0em 0em 1em 0em;
}
.welcome-details{
    font-size: 2vw;
    padding-bottom: 1em; 
    z-index: 5;
}
.large-button{
    /* width: 50%;
    height: 50%; */
    font-size: 1.5vw;
}


/* ABOUT */

.sticky + .about-section{
    padding-top: 4em;
}
.about-section{
    padding-bottom: 4em;
}
.about-text {
    font-size: 1.5em;
}
.about-row{
    padding-top:4em;
}
.about-details{
    font-size: 1.1em;
}
.teal-border{
    border: 3px solid #17BEBB;
}

.about-img{
    width: 100%;
}

/* PROJECTS */

.project-section{
    padding-top: 4em;
    padding-bottom: 4em;
}


.square {
    width: 100%;
    height: auto;
    background: white;
    /* border: solid 2px deepskyblue; */
    margin-bottom: 2em;
    position: relative;
}
.sunflower {
    width: 100%;
    /* margin-bottom: 10px; */
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
}
.project-text {
    color: #FD3E81;
    font-size: 1.3em;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 1em;
  }
  .project-text p{
      /* color: rgb(172, 172, 172); */
      color: white;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    /* background-color: rgb(43, 42, 42); */
    background-color: #062743;
  }

  .square:hover .overlay{
      opacity:1;
      border: 2px solid #17BEBB;
  }

  .border-top-pink{
      border-top: solid 3px #FD3E81;
  }

  .border-top-teal{
    border-top: solid 3px #17BEBB;
  }
  .grey-background{
      background: #8095a7;
  }

  /* CONTACT SECTION*/

  .contact-section{
    padding-top: 4em;
  }
.icon-row{
    padding-top: 1em;
}
  .icon-padding {
    padding: 0em .5em;
}

.footer{
    bottom: 0;
    padding-top: 4em;
}
.contact-icon:hover{
    transform: scale(1.1);
}

/* PROJECTS */
.project-title{
    font-size: 2em;
    font-weight: bold;
}
.project-footer{
    bottom:0;
    width: 100%;
    margin:auto;
    margin-top: 3em;
 }

.project-heading{
    padding-top: 2em;
    padding-bottom: 2em;
}

 
/* RECIPE */
.orange-background{
    background: sandybrown;
    border-bottom: solid 1px rgb(230, 138, 58);
}
.red-orange{
    color: rgb(218, 87, 0);
}
.dark-orange{
    color: rgb(255, 145, 0);
}
.orange-border-top{
    border-top: solid 1px rgb(230, 138, 58);
}
.red-orange-background{
    background: rgb(218, 87, 0);
}

/* BOOKBUDDIES */
.purple-text {
    color: #4E2A84;
}
.purple-border-top{
    border-top: solid 1px #401F68;
 }
.dark-purple{
    color: #401F68;
}
.purple-background{
    background: #4E2A84;
    border-bottom: solid 1px #401F68;
}

/* SCRAPER */
.dark-green{
    color: seagreen;
}
.green-border-top{
    border-top: solid 1px seagreen;
 }
 .green-background {
    background: seagreen;
    border-bottom: solid 1px rgb(23, 92, 23);
}

.forest-green{
    color: forestgreen;
}

/* Habit Hatcher */
.dark-teal-background {
    background: #37a69a;
}

.teal{
    color: #3dcab7;
}

.teal-btn{
    background: #37a69a;
    border-color: #37a69a;
}
.teal-btn:hover{
    background: #3dcab7;
    border-color: #3dcab7;
}

.hh-demo-btn{
    background: #20736a;
    border: #20736a;
}
.hh-demo-btn:hover{
    background: #3dcab7;
    border-color: #3dcab7;
}

/* Bird Battle */
.bb-blue{
    color: #070845;
}
.bb-blue-background{
    background: #070845;
}
.bb-btn{
    background: #111391;
    border-color: #111391;
}
.bb-btn:hover{
    background: #2f3199;
    border-color: #2f3199;
}

.bb-demo-btn{
    background: #070845;
    border: #070845;
}
.bb-demo-btn:hover{
    background: #111391;
    border-color: #111391;
}
/* CONTACT */

.dark-blue-text {
    color: rgb(1, 106, 141);
}
.light-blue-text {
    color: rgb(37, 141, 175);
}
.contact-form {
    margin: auto;
}
.contact-submit{
    border: none;
    background: rgb(1, 106, 141);
    width: 100%;
 }
 .contact-submit:hover{
    opacity: 50%;
 }
 .blue-border-top{
    border-top: solid 1px rgb(97,191,251);
 }



/* MEDIA QUERIES */
@media screen and (max-width: 992px){
     .project-description{
         padding-top: 2em;
     }
    .text {
        font-size: 7vw;
    }
    .welcome-details{
        font-size: 3vw;
    }
    .large-button{
        font-size: 2.5vw;
    }
    .about{
        padding-top: 2em;
    }
 }

 @media screen and (max-width: 768px){
    .text {
        font-size: 8vw;
    }
    .welcome-details{
        font-size: 4vw;
    }
    .large-button{
        font-size: 3vw;
    }
    .about-img{
        display: none;
    }
 }

 @media screen and (max-width: 576px){
    .text {
        font-size: 10vw;
    }
    .welcome-details{
        font-size: 5vw;
    }
    .large-button{
        font-size: 3.5vw;
    }
    .about-img{
        display: none;
    }
 }





