@font-face {
    font-family: 'mountains';
    src: url('./../fonts/beyond_the_mountains.ttf') format('truetype');
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    /* background: url(../images/dust_scratches.png); 
    background-size: cover; */
}
.background-img { 
    background: url(../images/computer.png); 
    /* background: url(../images/background-beautiful-bloom-54459.jpg); */
    /* background: url(../images/portfoliobackground.png); */
     /* Full height */
     height: 100%; 

     /* Center and scale the image nicely */
     background-position: center;
     /* background-repeat: no-repeat; */
     background-size: cover;
     
}
.test-background{
    background: url(../images/sky-drawn-new.png); 
    /* background: url(../images/background-beautiful-bloom-54459.jpg); */
    /* background: url(../images/portfoliobackground.png); */
     /* Full height */
     height: 100%; 

     /* Center and scale the image nicely */
     background-position: center;
     /* background-repeat: no-repeat; */
     background-size: cover;
}
.gingham-yellow { 
    background: url(../images/gingham-yellow.png); 
    /* background: url(../images/background-beautiful-bloom-54459.jpg); */
    /* background: url(../images/portfoliobackground.png); */
     /* Full height */

     /* Center and scale the image nicely */
     /* background-position: center;*/
     /* background-repeat: repeat-y; */
     /*background-size: cover; */
     
}

.recipe-home-img{
    width: 100%;
}
.background-longer { 
    background: url(../images/grey-background.png); 
    /* background: url(../images/background-beautiful-bloom-54459.jpg); */
    /* background: url(../images/portfoliobackground.png); */
     /* Full height */
     height: auto; 

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: repeat-y;
     background-size: cover;
     
}
.dark {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.sky-blue-background{
    background: rgb(97,191,251);
}
.hey {
    /* background-color: #333; */
    /* position: fixed; */
    /* top: 0;
    width: 100%;
    display:block; */
    /* transition: top 0.3s; */
    height: 60x;
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
    width: 100%;
    z-index: 99;
  }
  
  
.test {
    margin-top: 100px;
}

.big-space {
    height: 6em;
    width: 100%;
}

.medium-space {
    height: 3em;
    width: 100%;
}
.about-img {
    width: 100%;
}

.cl-container {
    width: 95%;
}

.square {
    width: 90%;
    height: auto;
    background: white;
    /* border: solid 2px deepskyblue; */
    margin-bottom: 2em;
}

.sunflower {
    width: 100%;
    margin-bottom: 10px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
}
.text-box {
    width: 100%;
    text-align: center;
    padding: 0em 1em;
}

.title-size{
    font-size: 8vw;
}

.section-title {
    margin-bottom: 1em;
    margin-top: 1em;
}

.div-wrapper {
    position: relative;

}

.bird-sunflower {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
}
.header {
    margin-top: 4em;
}

.teal-text{
    color: rgb(117,170,158);
}
.nav-background {
    background: rgba(255, 255, 255, 0.795);
    border-bottom: solid 1px rgb(117,170,158);
}
.dark-teal-text {
    color: rgb(63, 163, 140);
}
.darker-teal-text {
    color: rgb(26, 105, 87);
}
.dark-turquoise {
    color: rgb(12, 134, 98);
}
.turquoise {
    color: rgb(28, 173, 130);
}
.firebrick {
    color: firebrick;
}
.dark-green-text {
    /* color: rgb(1, 106, 141); */
    color: seagreen;
}
.dark-blue-text {
    color: rgb(1, 106, 141);
}
.light-blue-text {
    color: rgb(0, 125, 167);
}
.dark-orange{
    color: rgb(255, 145, 0);
}
.mountains-font {
    font-family: 'mountains', sans-serif;
}
.title-details {
    font-size: 2vw;
}

.bold{
    font-weight: bold;
}

#hey a:hover{
    color: rgb(24, 83, 77);
    text-decoration: none;
}

.enlarge:hover {
    transform: scale(1.05);
}

a:hover {
    text-decoration: none;
}

.nav-white {
    background: rgba(255, 255, 255, 0.63);

}

/* .footer {
    background: lightskyblue;
 
} */

.icon-padding {
    padding: 0em .5em;
}
.slideshow-container {
    width: 100%;
    margin: auto;
    vertical-align: middle;
}

.top-spacing {
    margin-top: 4em;
}

.project-description, .contact-form {
  padding: 1em 2em;
  background: white;
}
.contact-form {
    margin: auto;
}
.slide-container {
    width: 95%;
    margin: auto;
}
.project-footer{
    bottom:0;
    width: 100%;
    margin:auto;
 }

 .recipe-title, .contact-title{
     color: rgb(218, 87, 0);
     font-size: 2em;
     padding-top: 1em;
     font-family: 'Quicksand', sans-serif;
     font-weight: bold;
 }
.contact-title{
    color: rgb(1, 106, 141);
}
.contact-submit{
    border: none;
    background: rgb(1, 106, 141);
    width: 100%;
}
.contact-submit:hover{
    opacity: 50%;
}
 .book-title{
     color: #401F68;
     font-size: 2em;
     padding-top: 1em;
     font-family: 'Quicksand', sans-serif;
     font-weight: bold;
 }

 .full-height {
     height: 100%;
 }

 .orange-background{
     background: sandybrown;
     border-bottom: solid 1px rgb(230, 138, 58);
 }

 .purple-background{
     background: #4E2A84;
     border-bottom: solid 1px #401F68;
 }

 .purple-text {
     color: #4E2A84;
 }
 .quicksand{
    font-family: 'Quicksand', sans-serif;
 }

 .demo-btn{
    border: solid 1px rgb(230, 138, 58);
 }

 .orange-border-top{
    border-top: solid 1px rgb(230, 138, 58);
 }

 .blue-border-top{
    border-top: solid 1px rgb(97,191,251);
 }

 .purple-border-top{
    border-top: solid 1px #401F68;
 }
 .about {
     margin: auto;
 }
@media screen and (max-width: 991px) {
    .slideshow-container{
        margin-bottom: 3em;
    }
    .project-description{
        margin-bottom: 3em;
    }
    .background-img{
        height: 75%;
    }
    .title-details{
        font-size: 3vw;
    }
}

@media screen and (max-width: 749px) {

    .background-img{
        height: 60%;
    }
    .title-size{
        font-size: 12vw;
    }

    .title-details{
        font-size: 4vw;
    }
    .about-img{
        display: none;
    }
}

